<div class="product_view_container">
	<p class="image_container"><img class="img_preview" src="<%=getImageView(image.url)%>"></p>
	<ul class="variations"></ul>
	<div class="product_drawer">
		<div class="brand_topper">More from <%= typeof brand !== 'undefined' ? brand : title %>:</div>
		<div class="product_info">
			<h4><%=typeof brand !== 'undefined' ? brand : title%></h4>
			<% if (typeof(price) !== "undefined") { %>
				<div class="price">
					<span class="ourPrice"><%= price %></span>
					<% if (typeof(listPrice) !== "undefined") { %>
						<span class="listPrice"><%= listPrice %></span>
					<% } %>
					<% if (typeof(isEligibleForPrimeShipping) !== "undefined" && isEligibleForPrimeShipping) { %>
						<img src="http://g-ecx.images-amazon.com/images/G/01/marketing/prime/check-prime-45x13._V192552839_.gif" class="primeBadge">
					<% } %>
				</div>
			<% } %>
		</div>
		<a class="expand-trigger"><span class="expand-trigger-icon"></span></a>
		<div class="pivots"></div>
	</div>
</div>
<div class="arrow">
	<div class="arrow_top"></div>
	<div class="arrow_bot"></div>
</div>
