.budgets {
	-webkit-transition: height 0.5s;
	background-color: #efe;
}

[data-view] {
	.budgets {
		overflow: hidden;
		height: 0px;
	}	
}

[data-view="home"] {
	.budgets {
		height: 125px;
	}
}

[data-view="budgets"] {
	.budgets {
		overflow-y: scroll;
		height: 467px;
	}
}


.budgetGraph {
	float: left;
	text-align: center;
	width: 106px;
	margin-top: 13px;
	position: relative;
}

.budgetTitle {
	margin-top: 3px;
}

.budgetRemaining {
	position: absolute;
	top: 45%;
	margin: 0 auto;
	right: 39%;
	font-size: 16px;
	color: #fff;
/*	-webkit-text-fill-color: white;  Will override color (regardless of order) 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
*/}

.addPlus {
	position: absolute;
	top: -43px;
	right: 3px;
	z-index: 10;
	font-size: 120px;
	line-height: 120px;
	color: #393;
	font-weight: bold;


	&:before, &:after {
		display: none;
		content: attr(data-text);
		position: absolute;
		top: 0;
		right: 0;
	}

	&:before {
		top: 2px;
		right: 2px;
		color: #55aa55;
		z-index: 1;
		text-shadow: 2px 2px #fff;
	}

	&:after {
		top: 4px;
		right: 4px;
		color: #fff;
		text-shadow: 0px -4px #ffffff;
	}
}