* {
  margin: 0;
  padding: 0;
}
html,
body {
  -webkit-transform: translate3d(0, 0, 0);
  height: 100%;
  width: 100%;
  min-width: 1080px;
  min-height: 980px;
  background-color: #f3f3f3;
  font-family: "Gill Sans", Verdana, Arial, sans-serif;
}
#app {
  width: 100%;
  min-width: 1280px;
  height: 100%;
}
.touch_view,
.old_touch {
  display: none;
  position: absolute;
  z-index: 100000;
  /*-webkit-mask-image: url('mask.png') no-repeat fixed center center padding padding;*/

  /*background-image: url(../images/fingerprint.png);*/

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(../images/fingerprint.png);
  -webkit-mask-position: 48% 56%;
  -webkit-mask-size: 130px;
  background-color: rgba(0, 255, 255, 0.75);
  height: 40px;
  width: 30px;
  margin: -20px 0 0 -15px;
  border-radius: 100%;
  pointer-events: none;
}
.touching .touch_view,
.touching .old_touch {
  display: block;
}
.old_touch {
  opacity: 0;
  -webkit-transition: opacity .3s;
}
.old_touch.hot {
  opacity: 0.3;
}
.touchable {
  cursor: pointer;
}
.touching .touchable {
  cursor: none;
}
.pie {
  position: relative;
}
.pie:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 2px solid #333;
  box-shadow: #474 2px 2px 2px;
}
.budgets {
  -webkit-transition: height 0.5s;
  background-color: #96C56F;
}
[data-view] .budgets {
  overflow: hidden;
  height: 0px;
}
[data-view="home"] .budgets {
  height: 130px;
}
[data-view="budgets"] .budgets {
  overflow-y: scroll;
  height: 517px;
}
.budgetGraph {
  float: left;
  text-align: center;
  width: 106px;
  margin-top: 10px;
  position: relative;
}
.budgetTitle {
  margin-top: 3px;
}
.budgetRemaining {
  position: absolute;
  top: 45%;
  margin: 0 auto;
  right: 39%;
  font-size: 16px;
  color: #fff;
  /*	-webkit-text-fill-color: white;  Will override color (regardless of order) 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
*/
}
.cards {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #000;
}
.cards .card {
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #000;
  background-color: rgba(68, 136, 102, 0.9);
}
.cards .card img {
  width: 60px;
}
.cards .card.current {
  background-color: #4e9c70;
}
[data-view] .cards {
  overflow: hidden;
  height: 0px;
}
[data-view="home"] .cards {
  height: 100px;
}
[data-view="cards"] .cards {
  -webkit-transition: height 0.5s;
  overflow-y: scroll;
  height: 517px;
}
#card {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  right: 30%;
  margin: -360px -245px 0px 0px;
  height: 720px;
  width: 490px;
}
#card .card_front {
  margin-bottom: 98px;
}
#card .card_front .card_content {
  background: #444;
  color: #000;
  /*			position: absolute;
			top: 15px;
			right: 15px;
			bottom: 15px;
			left: 15px;
*/

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10001;
  height: 281px;
  width: 460px;
  text-align: center;
  margin: -140px 0 0 -230px;
}
#card .card_front .card_content img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
#card .card_front .card_content .locked {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  border: 4px solid #000;
  padding-top: 1px;
}
#card .card_front .card_content .locked img {
  height: 29px;
  width: 28px;
}
#card .card_front .card_content .noCards {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(100, 170, 100, 0.8);
}
#card .card_front .card_content .noCards:before {
  position: absolute;
  top: 40px;
  left: 40px;
  content: "Welcome to BeanPay!";
  font-size: 40px;
}
#card .card_front .card_content .noCards:after {
  position: absolute;
  bottom: 40px;
  left: 40px;
  content: "To begin, open the BeanPay app and choose \"Add Card\".";
}
#card .card_front .card_content:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  background-image: -webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0.27) 74%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}
#card .card_front,
#card .card_back {
  border-radius: 15px;
  border: solid 2px #000;
  height: 311px;
  width: 490px;
  position: relative;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%), -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.7%, #000000 1.4%), -webkit-repeating-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 4%, rgba(255, 255, 255, 0.17) 5.8%), -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1.1%, rgba(0, 0, 0, 0.35) 6.2%), -webkit-repeating-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) -16.9%, rgba(255, 255, 255, 0.06) 18.7%), -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.3%, rgba(0, 0, 0, 0.45) 14.7%);
  /*		background-image: 	-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%),
						-webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 100%),
						-webkit-linear-gradient(left, black 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, black 95%);
*/

  background-color: #444;
  color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 5px;
}
#card .card_front:before,
#card .card_back:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 10000;
  background-image: -webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.25) 70.5%, rgba(0, 0, 0, 0) 97.5%, rgba(0, 0, 0, 0) 100%);
}
#card .card_back .above_stripe {
  width: 100%;
  height: 26px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 6px 0 0 16px;
}
#card .card_back .mag_stripe {
  position: absolute;
  z-index: 10001;
  background-color: #3a2020;
  height: 49px;
  width: 100%;
}
#card .card_back .mag_stripe:before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  background-image: -webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 54%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
}
#card .card_back .above_signature_zone {
  width: 100%;
  margin-top: 49px;
  height: 37px;
}
#card .card_back .signature_zone,
#card .card_back .cvv_zone {
  float: left;
  height: 50px;
}
#card .card_back .signature_zone {
  background-color: #d3d3d3;
  width: 75%;
  margin-left: 16px;
}
#card .card_back .cvv_zone {
  box-sizing: border-box;
  width: 104px;
  padding: 0 18px;
}
#card .card_back .cvv_zone .cvv_title {
  text-transform: uppercase;
  font-size: 12px;
  height: 17px;
  margin-top: -1px;
}
#card .card_back .cvv_zone .cvv_display {
  width: 69px;
  background: #a5a5a5;
  height: 36px;
  margin: -2px 0 0;
}
#card .card_back .card_bottom {
  position: absolute;
  bottom: 44px;
  box-sizing: border-box;
  padding: 16px;
  font-size: 36px;
  font-family: "Gill Sans", "Verdana", "Arial", sans-serif;
  width: 100%;
  vertical-align: bottom;
}
#card .card_back .card_bottom span.website {
  font-size: 20px;
  position: absolute;
  bottom: 18px;
  right: 18px;
}
#card .card_back .card_buttons {
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  height: 54px;
}
#card .card_back .card_buttons .button {
  float: left;
  height: 30px;
  width: 30px;
  padding: 6px;
  font-size: 16px;
  background-color: #000;
  border: 1px solid #444;
  border-radius: 100%;
  color: #eee;
  background-image: -webkit-linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(255, 255, 255, 0.04) 48%, rgba(255, 255, 255, 0.2) 100%), -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(255, 255, 255, 0.04) 48%, rgba(255, 255, 255, 0.2) 100%);
}
#card .card_back .card_buttons .button:before {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: #2a2a2a;
  display: block;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(20deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 37%, rgba(255, 255, 255, 0.14) 58%, rgba(255, 255, 255, 0.3) 100%), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 37%, rgba(255, 255, 255, 0.04) 58%, rgba(255, 255, 255, 0.2) 100%);
}
#card .card_back .card_buttons .button.left:after,
#card .card_back .card_buttons .button.right:after {
  content: "";
  height: 115%;
  width: 115%;
}
#card .card_back .card_buttons .button.left:before {
  content: "\25C0";
  padding: 4px 0 0 5px;
}
#card .card_back .card_buttons .button.right {
  float: right;
}
#card .card_back .card_buttons .button.right:before {
  content: "\25B6";
  padding: 6px 0 0 9px;
}
#card .card_back:before {
  background-image: -webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.25) 46.5%, rgba(0, 0, 0, 0) 73.5%, rgba(0, 0, 0, 0) 100%);
}
.lcd_char {
  height: 28px;
  width: 17px;
  margin: 3px;
  float: left;
}
.lcd_char .bar {
  opacity: 1;
  background: #333;
  float: left;
}
.lcd_char .right {
  float: right;
}
.lcd_char .horizontal {
  height: 3px;
  width: 13px;
  margin: 0 2px;
}
.lcd_char .vertical {
  width: 3px;
  height: 9px;
  margin: 1px 0;
}
.lcd_char[data-char=""] .bar {
  opacity: 0;
}
.lcd_char[data-char="0"] .middle {
  opacity: 0;
}
.lcd_char[data-char="1"] .bar {
  opacity: 0;
}
.lcd_char[data-char="1"] .right {
  opacity: 1;
}
.lcd_char[data-char="2"] .upper.left,
.lcd_char[data-char="2"] .lower.right {
  opacity: 0;
}
.lcd_char[data-char="3"] .left {
  opacity: 0;
}
.lcd_char[data-char="4"] .top,
.lcd_char[data-char="4"] .bottom,
.lcd_char[data-char="4"] .lower.left {
  opacity: 0;
}
.lcd_char[data-char="5"] .upper.right,
.lcd_char[data-char="5"] .lower.left {
  opacity: 0;
}
.lcd_char[data-char="6"] .upper.right {
  opacity: 0;
}
.lcd_char[data-char="7"] .lower.left,
.lcd_char[data-char="7"] .bottom,
.lcd_char[data-char="7"] .middle {
  opacity: 0;
}
.lcd_char[data-char="9"] .lower.left {
  opacity: 0;
}
/* Based off of iPhone 5 in CSS via http://www.mattboldt.com/css3-iphone5/ */
#phone {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  display: block;
  -webkit-transform: scale(0.95, 0.93);
  position: absolute;
  top: 50%;
  left: 27%;
  margin: -382px 0 0 -174.5px;
  padding: 0;
  width: 349px;
  height: 764px;
  border-radius: 53px;
  border-top: #333 5px solid;
  border-right: #474747 5px solid;
  border-left: #333 5px solid;
  border-bottom: #333 5px solid;
  background-color: #000;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%), -webkit-linear-gradient(left, #000000 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, #000000 95%), -webkit-linear-gradient(top, #000000 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, #000000 85%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%), -moz-linear-gradient(200deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(left, #000000 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, #000000 95%), -moz-linear-gradient(top, #000000 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, #000000 85%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%), linear-gradient(200deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 100%), linear-gradient(left, #000000 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, #000000 95%), linear-gradient(top, #000000 13%, #264863 5%, #6b8ba7 50%, #082a43 85%, #000000 85%);
  box-shadow: rgba(0, 0, 0, 0.5) 9px 16px 28px;
}
#phone:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10001;
  top: 50px;
  left: 50%;
  margin-left: -32.5px;
  width: 65px;
  height: 8px;
  background: #333;
  border-radius: 10px;
  border-top: #000 4px solid;
  border-bottom: #212121 4px solid;
  border-left: #000 4px solid;
  border-right: #333 4px solid;
  box-shadow: inset #000 0px 0px 7px;
}
#phone:after {
  content: "";
  color: red;
  font-size: 80px;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -37px;
  width: 66px;
  height: 66px;
  border: #222 4px solid;
  border-radius: 100%;
  background-color: #000;
  background-image: -webkit-linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(255, 255, 255, 0.04) 48%, rgba(255, 255, 255, 0.2) 100%), -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(255, 255, 255, 0.04) 48%, rgba(255, 255, 255, 0.2) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(255, 255, 255, 0.12) 52%, rgba(255, 255, 255, 0.3) 100%), -moz-radial-gradient(26px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(27px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(28px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(29px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(30px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(31px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(32px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(33px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(34px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(35px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(36px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(37px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(38px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(39px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(40px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(41px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(42px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(43px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(44px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(45px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(46px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(47px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 31px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 32px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 33px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 37px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(48px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 1px), -moz-radial-gradient(48px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 1px), -moz-radial-gradient(48px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(48px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(47px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(46px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(45px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(44px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(43px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(42px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(41px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(40px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(39px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(38px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(37px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(36px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(35px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(34px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(33px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(32px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(31px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(30px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(29px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(28px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(27px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), -moz-radial-gradient(26px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 37px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 33px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 32px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 31px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), -moz-radial-gradient(26px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 52%, rgba(255, 255, 255, 0.12) 52%, rgba(255, 255, 255, 0.3) 100%), radial-gradient(26px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(27px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(28px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(29px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(30px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(31px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(32px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(33px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(34px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(35px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(36px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(37px 25px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(38px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(39px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(40px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(41px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(42px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(43px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(44px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(45px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(46px 25px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(47px 26px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 27px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 31px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 32px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 33px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 37px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(48px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 1px), radial-gradient(48px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 1px), radial-gradient(48px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(48px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(47px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(46px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(45px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(44px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(43px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(42px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(41px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(40px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(39px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(38px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(37px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(36px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(35px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(34px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(33px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(32px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(31px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(30px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(29px 47px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(28px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(27px 47px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 46px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 45px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 44px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 43px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 42px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 41px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2%), radial-gradient(26px 40px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 39px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 38px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 37px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 36px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 35px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 34px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 33px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 32px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 31px, circle, #5b6064 0%, #5b6064 2.5%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 30px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 29px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%), radial-gradient(26px 28px, circle, #5b6064 0%, #5b6064 2%, rgba(0, 0, 0, 0) 2.5%);
  box-shadow: #333333 0px -684px 0px -34px, #000000 0px -684px 0px -31px, #000000 55px -716px 0px -34px, #000000 57px -716px 0px -34px, #000000 59px -716px 0px -34px, #000000 61px -716px 0px -34px, #000000 63px -716px 0px -34px, #000000 65px -716px 0px -34px, #000000 67px -716px 0px -34px, #000000 69px -716px 0px -34px, #000000 71px -716px 0px -34px, #000000 73px -716px 0px -34px, #000000 75px -716px 0px -34px, #000000 77px -716px 0px -34px, #000000 79px -716px 0px -34px, #000000 81px -716px 0px -34px, #000000 83px -716px 0px -34px, #000000 85px -716px 0px -34px, #000000 87px -716px 0px -34px, #000000 89px -716px 0px -34px, #000000 91px -716px 0px -34px, #000000 93px -716px 0px -34px, #000000 95px -716px 0px -34px, #000000 97px -716px 0px -34px, #000000 99px -716px 0px -34px, #000000 101px -716px 0px -34px, #000000 103px -716px 0px -34px, #000000 105px -716px 0px -34px, #000000 107px -716px 0px -34px, #000000 -177px -651px 0px -34px, #000000 -177px -16px 0px -34px, #333333 176px -651px 0px -34px, #333333 176px -16px 0px -34px, #333333 -180px -606px 0px -34px, #333333 -180px -604px 0px -34px, #333333 -180px -602px 0px -34px, #333333 -180px -600px 0px -34px, #333333 -180px -598px 0px -34px, #333333 -180px -596px 0px -34px, #333333 -180px -594px 0px -34px, #333333 -180px -592px 0px -34px, #333333 -180px -590px 0px -34px, #333333 -180px -588px 0px -34px, #333333 -180px -586px 0px -34px, #333333 -180px -584px 0px -34px, #333333 -180px -582px 0px -34px, #333333 -180px -580px 0px -34px, #333333 -180px -578px 0px -34px, #333333 -180px -576px 0px -34px, #333333 -180px -533px 0px -34px, #333333 -180px -531px 0px -34px, #333333 -180px -529px 0px -34px, #333333 -180px -527px 0px -34px, #333333 -180px -525px 0px -34px, #333333 -180px -523px 0px -34px, #333333 -180px -521px 0px -34px, #333333 -180px -519px 0px -34px, #333333 -180px -517px 0px -34px, #333333 -180px -515px 0px -34px, #333333 -180px -513px 0px -34px, #333333 -180px -511px 0px -34px, #333333 -180px -468px 0px -34px, #333333 -180px -466px 0px -34px, #333333 -180px -464px 0px -34px, #333333 -180px -462px 0px -34px, #333333 -180px -460px 0px -34px, #333333 -180px -458px 0px -34px, #333333 -180px -456px 0px -34px, #333333 -180px -454px 0px -34px, #333333 -180px -452px 0px -34px, #333333 -180px -450px 0px -34px, #333333 -180px -448px 0px -34px;
}
#phone .content {
  position: absolute;
  top: 88px;
  left: 15px;
  bottom: 108px;
  right: 14px;
  background: #222;
  /*background-image: url(../images/phone.png);*/

  background-size: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#phone .overlay {
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background-image: -webkit-linear-gradient(200deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 33%, rgba(0, 0, 0, 0) 33.6%, rgba(0, 0, 0, 0) 100%);
}
#phone #menu {
  position: fixed;
  bottom: 108px;
  left: 15px;
  background-color: #000;
  color: #aaa;
  height: 50px;
  z-index: 1;
  display: table;
  width: calc(100% - 29px);
  border-spacing: 0px;
  table-layout: fixed;
  border-top: 1px solid #aaa;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
}
#phone #menu li {
  background-color: #000;
  border-left: 1px solid #aaa;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  position: relative;
}
#phone #menu li:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 26px;
  background-color: #aaa;
}
#phone #menu li:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#phone #menu li:first-child {
  border: 0 none;
}
#phone #menu li[data-view="home"]:before {
  -webkit-mask-image: url(../images/icons/home.png);
  -webkit-mask-size: 31px;
}
#phone #menu li[data-view="home"]:after {
  content: "Home";
}
#phone #menu li[data-view="wallet"]:before {
  -webkit-mask-image: url(../images/icons/wallet.png);
}
#phone #menu li[data-view="wallet"]:after {
  content: "Wallet";
}
#phone #menu li[data-view="budgets"]:before {
  -webkit-mask-image: url(../images/icons/budget5.png);
}
#phone #menu li[data-view="budgets"]:after {
  content: "Budgets";
}
#phone #menu li[data-view="cards"]:before {
  -webkit-mask-image: url(../images/icons/cards.png);
}
#phone #menu li[data-view="cards"]:after {
  content: "Cards";
}
#phone #menu li[data-view="back"]:before {
  -webkit-mask-image: url(../images/icons/back.png);
}
#phone #menu li[data-view="back"]:after {
  content: "Back";
}
#phone #menu li[data-view="transactions"]:before {
  -webkit-mask-image: url(../images/icons/transactions.png);
}
#phone #menu li[data-view="transactions"]:after {
  content: "Transactions";
}
#phone #menu li[data-view="search"]:before {
  -webkit-mask-image: url(../images/icons/search.png);
  -webkit-mask-size: 24px;
}
#phone #menu li[data-view="search"]:after {
  content: "Search";
}
#phone[data-view="home"] #menu [data-view="home"] {
  color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="home"] #menu [data-view="home"]:before {
  background-color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="budgets"] #menu [data-view="budgets"] {
  color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="budgets"] #menu [data-view="budgets"]:before {
  background-color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="cards"] #menu [data-view="cards"] {
  color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="cards"] #menu [data-view="cards"]:before {
  background-color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="transactions"] #menu [data-view="transactions"] {
  color: rgba(0, 200, 70, 0.8);
}
#phone[data-view="transactions"] #menu [data-view="transactions"]:before {
  background-color: rgba(0, 200, 70, 0.8);
}
.transactions {
  -webkit-transition: height 0.5s;
  background-color: #697;
}
[data-view] .transactions {
  overflow: hidden;
  height: 0px;
}
[data-view="home"] .transactions {
  height: 285px;
}
[data-view="search"] .transactions,
[data-view="transactions"] .transactions {
  overflow-y: scroll;
  height: 517px;
}
.transaction {
  background-color: #151;
  height: 90px;
  border-bottom: 1px solid #000;
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
}
.transaction img {
  width: 60px;
}
#task_help {
  position: absolute;
  top: 0;
  width: 100%;
  height: 11%;
}
#task_help .credit_cards {
  position: absolute;
  -webkit-transition: all 0.6s;
  height: 100%;
  width: 100%;
  bottom: 120%;
}
#task_help .credit_cards.showing {
  bottom: 50%;
}
#task_help .credit_cards .credit_card {
  position: absolute;
  bottom: 0;
  border-radius: 15px;
  border: solid 2px #000;
  height: 311px;
  width: 490px;
  background-color: #444;
  color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 5px;
  background-size: 100%;
  -webkit-transition: all 0.6s;
  cursor: pointer;
  z-index: 20000;
}
#task_help .credit_cards .credit_card.sideways {
  box-shadow: rgba(0, 0, 0, 0.3) -6px 3px 5px;
  -webkit-transform: rotate(-90deg) scale(0.7);
}
#task_help .credit_cards .credit_card.sideways:hover {
  -webkit-transition: all 0.2s;
  -webkit-transform: rotate(-60deg) scale(0.85);
  bottom: -80%;
}
#task_help .credit_cards .credit_card[data-card-id="generic"] {
  left: 0%;
  background-color: #555;
}
#task_help .credit_cards .credit_card[data-card-id="red"] {
  left: 5%;
  background-color: #f00;
  background-image: url(../images/RED.png);
}
#task_help .credit_cards .credit_card[data-card-id="blue"] {
  left: 10%;
  background-image: url(../images/BLUE.png);
  background-size: 100%;
}
#task_help .credit_cards .credit_card[data-card-id="black"] {
  left: 15%;
  background-image: url(../images/BLACK.png);
  background-color: #000;
}
#task_help .purchases {
  position: absolute;
  -webkit-transition: all 0.6s;
  height: 100%;
  width: 100%;
  bottom: 110%;
}
#task_help .purchases.showing {
  bottom: 0;
}
#task_help .purchases .purchase {
  position: absolute;
  bottom: 0;
  border-radius: 270px;
  height: 270px;
  width: 270px;
  background-color: transparent;
  background-size: 100%;
  z-index: 20000;
  -webkit-transition: all 0.6s;
  -webkit-transform: scale(0.7);
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: pointer;
}
#task_help .purchases .purchase:hover {
  -webkit-transition: all 0.2s;
  -webkit-transform: rotate(90deg) scale(0.85);
  bottom: -100%;
}
#task_help .purchases .purchase[data-merchant="upchuck_coffee"] {
  right: 10%;
  background-image: url(../images/COFFEE.png);
}
#task_help .purchases .purchase[data-merchant="bobs_burgers"] {
  right: 20%;
  background-image: url(../images/BURGERB.png);
}
#task_help .purchases .purchase[data-merchant="joes_tavern"] {
  right: 30%;
  background-image: url(../images/BEER.png);
  border-radius: 270px;
}
#task_help .purchases .purchase[data-merchant="generic"] {
  bottom: -50%;
  border-radius: 0;
  height: 630px;
  right: 0%;
  background-image: url(../images/RECEIPT.png);
  background-color: #555;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 5px;
}
#task_help .purchases .purchase[data-merchant="generic"]:hover {
  -webkit-transform: scale(0.85);
  bottom: -100%;
}
#data_help {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
  pointer-events: none;
}
#data_help > div {
  position: absolute;
  top: 90%;
  min-height: 170px;
  margin: 0 0 0 -12.5%;
  width: 25%;
  background-color: white;
  color: black;
  background-size: 100%;
  z-index: 20000;
  -webkit-transition: all 0.6s;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 5px;
  text-align: center;
  pointer-events: auto;
}
#data_help > div:hover {
  top: 66%;
}
#data_help > div[data-action]:before {
  display: block;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}
#data_help > div[data-action="save"] {
  left: 33%;
}
#data_help > div[data-action="save"]:before {
  content: "Save State";
}
#data_help > div[data-action="save"] input {
  display: block;
  width: 220px;
  height: 30px;
  margin: 0 auto 20px;
  text-align: center;
}
#data_help > div[data-action="save"] input[type="button"] {
  width: 100px;
}
#data_help > div[data-action="load"] {
  left: 66%;
  min-height: 80%;
}
#data_help > div[data-action="load"]:before {
  border-bottom: 1px solid #ddd;
  content: "Load State";
}
#data_help > div[data-action="load"]:hover {
  top: 20%;
}
#data_help > div[data-action="load"] [data-name] {
  display: block;
  height: 40px;
  width: 80%;
  margin: 0 10%;
  border-bottom: 1px solid #eee;
  line-height: 40px;
  color: #444;
  cursor: pointer;
}
#data_help > div[data-action="load"] [data-name]:hover {
  background-color: #fafafa;
  color: #000;
}
#data_help > div[data-action="load"] [data-name]:before {
  text-transform: capitalize;
  content: attr(data-name);
}
