<div class="card_front">
	<div class="card_content">
		<img src="images/<%= image %>" />
		<% if(locked) { %><span class="locked"><img src="images/lock.png" /></span><% } %>
	</div>
</div>
<div class="card_back">
	<div class="above_stripe"></div>
	<div class="mag_stripe"></div>
	<div class="above_signature_zone"></div>
	<div class="signature_zone"></div>
	<div class="cvv_zone">
		<div class="cvv_title">cvv</div>
		<div class="cvv_display">
			<div class="lcd_char" data-char="<%= CVV && CVV[0] %>">
				<div class="bar top horizontal"></div>
				<div class="bar upper left vertical"></div>
				<div class="bar upper right vertical"></div>
				<div class="bar middle horizontal"></div>
				<div class="bar lower left vertical"></div>
				<div class="bar lower right vertical"></div>
				<div class="bar bottom horizontal"></div>
			</div>
			<div class="lcd_char" data-char="<%= CVV && CVV[1] %>">
				<div class="bar top horizontal"></div>
				<div class="bar upper left vertical"></div>
				<div class="bar upper right vertical"></div>
				<div class="bar middle horizontal"></div>
				<div class="bar lower left vertical"></div>
				<div class="bar lower right vertical"></div>
				<div class="bar bottom horizontal"></div>
			</div>
			<div class="lcd_char" data-char="<%= CVV && CVV[2] %>">
				<div class="bar top horizontal"></div>
				<div class="bar upper left vertical"></div>
				<div class="bar upper right vertical"></div>
				<div class="bar middle horizontal"></div>
				<div class="bar lower left vertical"></div>
				<div class="bar lower right vertical"></div>
				<div class="bar bottom horizontal"></div>
			</div>
		</div>
	</div>
	<div class="card_bottom">
		<span>BeanPay</span><br />
		<span>MagicCard</span>
		<span class="website">www.magicbeanpay.com</span><br />
	</div>
	<div class="card_buttons">
		<div class="button left touchable"></div>
		<div class="button right touchable"></div>
	</div>
</div>

